<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="Zettelkasten" />
  <link rel="icon" href="{{ "/img/zettelkasten.png" | static_url }}" />
  <title>{% block title %}Zettelkasten{% endblock %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo|Titillium+Web|Raleway&display=swap" />
  <style>

    /*********************************/
    /*         Generic styles        */
    /*********************************/

    body {
      font-family: Arvo;
    }

    input, textarea, button {
      font-family: inherit;
      outline: none;
    }
    a {
      text-decoration: none;
      outline: none;
      color: inherit;
    }


    /*********************************/
    /*      Base template styles     */
    /*********************************/

    #side-bar {
      position: fixed;
      height: 100%;
      width: 15em;
      color: #888;
    }
    #side-bar ul {
      list-style: none;
    }
    #side-bar > ul {
      border-left: 3px solid hsl(50, 38%, 57%);
      margin-left: 1em;
      padding-left: 2em;
    }
    #side-bar a {
      color: hsl(50, 38%, 57%);
    }
    .logo-container {
      width: 100%;
      text-align: center;
    }
    #logo {
      width: 50%;
    }

    #main-panel {
      margin-left: 15em;
    }

    #search-bar {
      width: 70em;
      text-align: right;
    }

    #search-bar input {
      border: 1px solid #888;
      border-radius: 1em;

      background: url(/img/magnifying_glass.png);
      background-repeat: no-repeat;
      background-size: 1em 1em;
      background-position: 0.8em;
      text-indent: 2.5em;

      height: 2em;
      width: 25em;

      color: #555;
    }

  </style>
</head>

<body>
  <div id="side-bar">
    <div class="logo-container">
      <img id="logo" src="{{ "/img/zettelkasten.png" | static_url }}" />
    </div>
    <ul>
      <li>
        <span>Zettels</span>
        <ul>
          <li><a href="/quotes">Quotes</a> [<a href="/quotes/new">new</a>]</li>
          <li><a href="/links">Links</a> [<a href="/links/new">new</a>]</li>
          <li><a href="/todo">Todo</a> [<a href="/todo/new">new</a>]</li>
        </ul>
      </li>
      <li>
        <div>Tags</div>
        <ul>
          {% for tag in tags() %}
            <li><a href="/tags/{{ tag.slug }}">{{ tag.name }}</a></li>
          {% endfor %}
        </ul>
      <ul>
    </ul>
  </div>
  <div id="main-panel">
    <form id="search-bar" action="/search">
      <input type="text" name="search-query" />
    </form>
    <div id="main-contents">
      {% block body %}

      {% endblock %}
    </div>
  </div>
</body>
</html>
