{% extends "base.html" %}

{% block title %}
  {{ "Links" | title_for }}
{% endblock %}

{% block body %}
  <h1>Links Page</h1>
  <div id="app"></div>

  <script src="/js/index_links.js"></script>
{% endblock %}
