{% extends "base.html" %}

{% block title %}
  {{ "Quotes" | title_for }}
{% endblock %}

{% block body %}
  <h1>Quotes Page</h1>

  <script src="/js/index_quotes.js"></script>

  <div id="app"></div>
{% endblock %}
